body {
  font-family: 'Karla', sans-serif;
  position: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'DM Serif Display', sans-serif;
}

nav {
  padding: 10px 10%;
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.logo {
  color: hsl(256, 26%, 20%);
  text-transform: uppercase;
  letter-spacing: 1.5;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}

nav ul li a {
  color: hsl(216, 30%, 68%);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: hsl(256, 26%, 20%);
}

.btn {
  background-color: transparent;
  border: 2px solid hsl(256, 26%, 20%);
  color: hsl(256, 26%, 20%);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 7px 15px;
  transition: 0.4s;
}

.btn:hover {
  background: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
}

nav img {
  display: none;
}

.showcase-content {
  background: hsl(256, 26%, 20%);
}

.hrr {
  background: hsl(0, 0%, 58%);
  margin: auto;
  width: 100px;
  height: 2px;
}

.footer-list h3 {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: hsl(0, 0%, 58%);
}

.footer-list ul li a {
  font-size: 14px;
  color: hsl(256, 26%, 20%);
  font-size: bold !important;
}

footer {
  background: hsl(0, 0%, 92%) !important;
  font-size: bold;
}

.showcase-content.hidden {
  padding-bottom: 58px !important;
}
.attribution {
  margin-top: 25px;
  font-size: 18px;
  text-align: center;
}
.attribution a {
  color: hsl(256, 26%, 20%);
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    align-items: center;
  }
  nav ul {
    background: hsl(270, 9%, 17%);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    padding-top: 50px;
    transition: right 0.6s;
    text-align: center;
  }

  nav img {
    display: block;
    font-size: 25px;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul li a {
    color: hsl(0, 0%, 98%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .mobile-nav {
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    background: #fff;
  }

  .btn {
    border: 2px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    /* padding: 7px 15px; */
    width: 100% !important;
  }
}
